<!-- 繼承基礎樣板 -->
{% extends "../base/base.html" %}

<!-- 顯示標題區塊 -->
{% block title %}
    <title>學生資料表單筆資料刪除</title>
{% endblock %}
        
{% block content %}
    <form action="" method="POST" name="form1">
        {% csrf_token %}
        <table border="1" cellspacing="1" cellpadding="4" align="center">
            <tr>
                <th>請輸入編號：</th>
                <td><input type="text" name="id"></td>
            </tr>
            <tr align="center">
                <th colspan="2" align="center">
                    <input type="submit" id="button" name="button" value="送出" />
                </th>
            </tr>
            <tr align="center">
                <th colspan="2" align="center">
                    <span style="color: red;"> {{ message }} </span>
                </th>
            </tr>
        </table>
    </form>
{% endblock %}