<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>顯示多筆資料</title>
    </head>
    <body>
        <h1>顯示所有學生的資料內容 {{ errormessage }}</h1> 
        <table border = "1" cellpadding = "0" cellspacing = "0">
            <th>編號</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>Email</th>
            <th>電話</th>
            <th>地址</th>
            {% for std in stds %}
            <tr>
                <td>{{ std.id }}</td>
                <td>{{ std.cName }}</td>
                <td>{{ std.cSex }}</td>
                <td>{{ std.cBirthday }}</td>
                <td>{{ std.cEmail }}</td>
                <td>{{ std.cPhone }}</td>
                <td>{{ std.cAddr }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>

</html>